@{
    Layout = "~/Views/Shared/AdminSayfalari.cshtml";
}


<form method="post" action="/Urun/UrunEkleVeritaban">
    <input type="text" id="UrunAd" name="urunad" placeholder="Ürün Adı"><br><br>

    <input type="text" id="Fiyat" name="fiyat" placeholder="Fiyat"><br><br>

    <input type="text" id="StokDurumu" name="stok" placeholder="StokDurumu"><br><br>

    <select id="depoid" name="depoid">
        <option value="1">MERKEZ</option>
        <option value="2">EGE</option>
        <option value="3">AKDENİZ</option>
        <option value="4">KARADENİZ</option>
        <option value="5">İÇ ANADOLU</option>
    </select><br><br>

    <button type="submit">Ekle</button>
</form>