@{
    Layout = "~/Views/Shared/giris.cshtml";
}


<form method="post" action="/Genel/HaritaSayfasi">
    <button type="submit" name="yer" value="Istanbul">Istanbul Depo Konumu</button><br><br>
    <button type="submit" name="yer" value="Ankara">Ankara Depo Konumu</button><br><br>
    <button type="submit" name="yer" value="Antalya">Antalya Depo Konumu</button><br><br>
    <button type="submit" name="yer" value="Trabzon">Trabzon Depo Konumu</button><br><br>
    <button type="submit" name="yer" value="Izmir">Izmir Depo Konumu</button>
</form>

<form method="post" action="/Genel/GirisSayfasi">
    <button type="submit">GİRİŞ SAYFASINA GİT</button>
</form>