<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>


<div id="map" style="height: 500px; width: 500px;"></div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Haritayı oluştur
        var map = L.map('map').setView([39.92077, 32.85411], 8); // Ankara'nın koordinatları ve zoom seviyesi

        // OpenStreetMap katmanını ekle
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '© OpenStreetMap'
        }).addTo(map);

        // Marker ekle
        var marker = L.marker([39.92077, 32.85411]).addTo(map)
            .bindPopup('Ankara').openPopup();
    });
</script>
