@{
    Layout = "~/Views/Shared/AdminSayfalari.cshtml";
}
<table>
    <td>
        <button type="button" onclick="window.location.href='@Url.Action("KullaniciEkle", "Kullanici")';" class="left yan">
            Kullanıcı Ekleme
        </button>
    </td>
    <td>
        <button type="button" onclick="window.location.href='@Url.Action("KullaniciSec", "Kullanici")';" class="right yan">
            Kullanıcı Düzenleme
        </button>
    </td>
</table>



