@{
    Layout = "~/Views/Shared/AdminSayfalari.cshtml";
}


<form method="post" action="/Kullanici/KullaniciEkleVeritaban">
    <input type="text" id="ad" name="ad" placeholder="Kullanıcı Adı"><br><br>

    <input type="text" id="soyad" name="soyad" placeholder="Şifre"><br><br>

    <input type="text" id="eposta" name="mail" placeholder="E-Posta"><br><br>

    <select id="users" name="users">
        <option value="3">Misafir</option>
        <option value="2">Satıcı</option>
        <option value="1">Admin</option>
    </select><br><br>

    <input type="number" id="DepoID" name="DepoID" placeholder="DepoID"><br><br>

    <button type="submit">Ekle</button>
</form>

