@model DepoYonetimSistemi.Models.UrunDepo

@{
    Layout = "~/Views/Shared/SaticiSayfalari.cshtml";
}

<form method="post" action="/Satici/UrunSatVeritaban">
    <!-- Ürün ID -->
    <input type="text" id="UrunId" name="UrunID" value="@Model.ID" required><br><br>

    <!-- Ürün Adı -->
    <input type="text" id="UrunAd" name="UrunAd" value="@Model.Ad" required><br><br>

    <!-- Fiyat -->
    <input type="text" id="Fiyat" name="Fiyat" value="@Model.Fiyat TL" required><br><br>

    <!-- Stok Durumu -->
    <input type="number" id="SatisMiktari" name="SatisMiktari" placeholder="Satış Miktarı" required><br><br>

    <!-- Sat Butonu -->
    <button type="submit">Sat</button>
</form>
