@{
    Layout = "~/Views/Shared/SaticiSayfalari.cshtml";
}

<form method="post" action="/Satici/SaticiUrunTalep">
    <input type="text" id="UrunAd" name="urunad" placeholder="Ürün Adı"><br><br>

    <input type="number" id="Miktar" name="miktar" placeholder="Miktar"><br><br>

    <button type="submit">Ekle</button>
</form>