@model IEnumerable<DepoYonetimSistemi.Models.UrunDepo>

@{
    Layout = "~/Views/Shared/SaticiSayfalari.cshtml";
}


<form method="post" action="/Satici/SaticiUrunTalep">
    <select id="urunler" name="urunAd">
        @foreach (var satis in Model)
        {
            <option value="@satis.Ad">@satis.Ad</option>
        }
    </select><br><br>

    <input type="number" id="Miktar" name="miktar" placeholder="Miktar"><br><br>

    <button type="submit">Ekle</button>
</form>